bbody {
    font-family: 'Garamond', serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    /* Translucent background for the nav bar */
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background-image: url('images/photo8.jpg');
    /* Adjusted path to the image */
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Overlay with opacity */
}

.hero h1 {
    font-size: 8em;
    /* 3 times the original size */
    font-family: 'Dancing Script', cursive;
    /* Font with a cursive style */
    z-index: 1;
    margin: 0;
    position: relative;
    color: burlywood;
}


section#sobre-nosotros .content {
    font-family: 'Dancing Script', cursive;
    padding: 20px;
    margin-top: 60px;
    /* Adjusted to account for fixed header */
    flex: 1;

}

section#galeria {
    padding: 20px;
    margin-top: 60px;
    /* Adjusted to account for fixed header */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px);
    /* Adjusted height to account for header and footer */
    width: 100%;
}

.gallery-item {
    width: 80%;
    height: 100%;
    position: relative;
    perspective: 1000px;
    overflow: hidden;
}

.gallery-item-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 2s;
    /* Changed duration from 1s to 2s for slower rotation */
}

.gallery-item-inner.rotate-right {
    transform: rotateY(180deg);
}

.gallery-item-inner.rotate-left {
    transform: rotateY(-180deg);
}

.gallery-item-front,
.gallery-item-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain;
    /* Ensures the image is fully visible */
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: hidden;
}

.gallery-item-back {
    transform: rotateY(180deg);
}

footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}